   * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 10px;
    border-radius: 30px;
    
}



body {
    background-color: gray;
    display: flex;
    justify-content: center;
}
/* added flex container for title */
/* centered contents in .toptitle content box */
.toptitle {
    margin: auto;
    padding: 20px; 
    width: fit-content;
    background-image: linear-gradient(green, rgb(150, 0, 142));
    color: #ffb5f9;
    font-size: 45px;
   
}

.main-header {
    margin: auto;
    width: fit-content;
    background-color: #248474;
    color: #ffffff;
    font-size: 50px; 
    padding: 20px;
    color: beige;

}


/* removed link default color to white */
.toptitle a{
    color: white;
}

li a {
    color: white;
}

/* adding hover att */
a:hover{
    color: white;
    background-color: blue;
    padding: 10px;
}

/* removed underline from links */
a:link{
    text-decoration: none;
    
}
.navigation{
    font-weight: bolder;
    margin: auto;
    width: fit-content;
    padding: 15px;
    background-color: rgb(183, 177, 124) ;
    border-radius: 15px 50px;
    box-shadow: 10px 10px 10px 10px rgb(100, 0, 102);
}


/* made list items vertical */
.navigation li{
    display: inline;
}


#About-Me {
  color: white;
  font-size: 40px;
  margin: auto;
  padding: 20px;
  background-color: rgba(227, 95, 95, 0.872);
  width: 50%;
  border-radius: 15px 50px;
  box-shadow: 10px 10px 10px 0px rgb(255, 255, 95);

}

#About-Me h2{
    font-size: 25px;
    background-color: rgba(0, 191, 255, 0.349);
    color:  black;
    padding: 20px;
}

.Aboutmephoto-img {
    height: 400px;
    border-radius: 15px 50px;
    box-shadow: 10px 10px 10px 10px rgb(100, 0, 102);
    padding: 30px; 
    background-color: green;
     
}

#Contact-Me {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: auto;
  background-color: rgb(77, 2, 77);
  padding: 20px;
  width: 50%;
  border-radius: 15px 50px;
  box-shadow: 10px 10px 10px 10px rgb(255, 247, 8);

}

#Contact-Me h2{
    font-size: 25px;
    background-color: rgba(0, 191, 255, 0.928);
    color:  black;
    padding: 20px;
}

#My-Work{
    font-size: 40px;
    color: azure;
    margin: auto;
    background-color: rgb(77, 2, 77);
    padding: 20px;
    background-color: rgba(128, 28, 0, 0.872);
    width: 50%;
    border-radius: 15px 50px;
    box-shadow: 10px 10px 10px 10px rgb(100, 0, 102)
}

#My-Work h2{
    font-size: 25px;
    background-color: rgba(0, 191, 255, 0.928);
    color:  black;
    padding: 20px;
    
}

.Imagediv {
    display: flex;
}
.image2 {
    width: 50%;
    margin: 0;
}
.aboveimage {
    width: 100%;
    margin: auto;
}

.bottomimage{
    width: 100%;
    margin: 0;
}

a {
   margin: 0;
}

@media screen and (max-width: 1000px) {
    body {
      display: block;
    }    
#About-Me, #Contact-Me, #My-Work{
    width: fit-content;
}
  }